<a href="https://colab.research.google.com/github/minkyung10/class2022Spring/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

-한국수자원공사 다목적댐 월별 발전량

In [16]:
URL = ('http://apis.data.go.kr/B500001/electric/elcpPerformance/elcpPerformancelist?stDt=2021-01&edDt=2021-12&&numOfRows=12&pageNo=1'
       '&_type=json'
       '&serviceKey=%2BcbJOkdps0Jns1WQEUd3FOxRq2kNNmNuho9TQK%2F7BqqrYVD8vZ2I55LtIm245Dx%2BQokUZiBTY75MDC6FORiaBw%3D%3D')
response = requests.get(URL)
response

In [17]:
r = response. json ()
r

{'response': {'body': {'items': {'item': [{'msr': '166,165',
      'stdrDe': '2021-01'},
     {'msr': '142,368', 'stdrDe': '2021-02'},
     {'msr': '155,372', 'stdrDe': '2021-03'},
     {'msr': '176,779', 'stdrDe': '2021-04'},
     {'msr': '209,138', 'stdrDe': '2021-05'},
     {'msr': '247,817', 'stdrDe': '2021-06'},
     {'msr': '243,011', 'stdrDe': '2021-07'},
     {'msr': '212,355', 'stdrDe': '2021-08'},
     {'msr': '219,962', 'stdrDe': '2021-09'},
     {'msr': '165,363', 'stdrDe': '2021-10'},
     {'msr': '150,823', 'stdrDe': '2021-11'},
     {'msr': '154,717', 'stdrDe': '2021-12'}]},
   'numOfRows': 12,
   'pageNo': 1,
   'totalCount': 12},
  'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}}}

In [24]:
items = r['response']['body']['items']['item']

stdrDe = [item['stdrDe'] for item in items]
msr = [item['msr'] for item in items]

stdrDe = pd.Series(stdrDe)
msr = pd. Series(msr)

df = pd. DataFrame({'실적일자':stdrDe, '거래량':msr})
df

       실적일자      거래량
0   2021-01  166,165
1   2021-02  142,368
2   2021-03  155,372
3   2021-04  176,779
4   2021-05  209,138
5   2021-06  247,817
6   2021-07  243,011
7   2021-08  212,355
8   2021-09  219,962
9   2021-10  165,363
10  2021-11  150,823
11  2021-12  154,717

In [37]:
def test (stDt):
 URL = ('http://apis.data.go.kr/B500001/electric/elcpPerformance/elcpPerformancelist?'
        '&stDt=' +stDt+
        '&edDt=2021-12&&numOfRows=12&pageNo=1'
        '&_type=json'
        '&serviceKey=%2BcbJOkdps0Jns1WQEUd3FOxRq2kNNmNuho9TQK%2F7BqqrYVD8vZ2I55LtIm245Dx%2BQokUZiBTY75MDC6FORiaBw%3D%3D')
  
 response = requests.get(URL)
 r = response.json ()
 items = r['response']['body']['items']['item']

 stdrDe = [item['stdrDe'] for item in items]
 msr = [item['msr'] for item in items]

 stdrDe = pd.Series(stdrDe)
 msr = pd. Series(msr)

 df = pd. DataFrame({'실적일자':stdrDe, '거래량':msr})
 return df

In [42]:
iface = gr. Interface(test, inputs = ["number"], outputs = ['dataframe'] )
iface. launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://17952.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)

Keyboard interruption in main thread... closing server.

(<fastapi.applications.FastAPI at 0x7fbf1583a550>,
 'http://127.0.0.1:7860/',
 'https://17952.gradio.app')